    </main>

    <footer class="white-font">
        <div id="container">
            <div id="logo" class="content-centered">로고</div>
            <div id="privacy-policy">
                <ul>
                    <li><a href="#">개인정보처리방침</a></li>
                    <li><a href="#">이용약관</a></li>
                </ul>
            </div>
            <div id="info">
                <ul>
                    <li>주소 : 대한민국 ㅇㅇ시 ㅇㅇ구 ㅇㅇㅇㅇ길, Jeon's 포트폴리오 호텔</li>
                    <li>연락처: 012-3456-7890</li>
                </ul>
            </div>
        </div>
    </footer>

</body>