<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈페이지</title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/myClass.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/reservation.css">
</head>
<body>

    <header>
        <div id="hd1" class="white-font">
            <div id="container">
                <% if (isAuthenticated) { %>
                    <div id="welcome"><%= user.id %>님 환영합니다!</div>
                    <div id="logout"><a href="/logout">로그아웃</a></div>
                <% } else { %>
                    <div id="register"><a href="/register">회원가입</a></div>
                    <div id="login"><a href="/login">로그인</a></div>
                <% } %>
            </div>
        </div>
        <div id="hd2">
            <div id="container">
                <div id="logo" class="content-centered">
                    <a href="/">
                        <img src="/img/logo.png" alt="로고">
                    </a>
                </div>
                <div id="category">
                    <ul>
                        <li><a href="/reservation">예약하기</a></li>
                        <li><a href="/my-reservation">예약현황</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <main class="hide-scrollbar">