<!DOCTYPE html>
<html lang="en" style="font-size:20px;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈페이지</title>
    <!-- 스타일 -->
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/myClass.css">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/reservation.css">
    <link rel="stylesheet" href="/css/package.css">
    <!-- 스크립트 -->
    <script src="/js/goTop.js"></script>
    <script src="/js/showMobileCategory.js"></script>
</head>
<body>

    <!-- 팝업 -->
    <div id="popup">
        <div id="go-top-btn"></div>
    </div>

    <!-- 헤더 -->
    <header>

        <div id="hd1" class="white-font">

            <div id="container">

                <!-- (모바일 사용시) 1.메뉴바 -->
                <div id="menu-bar" style="background-image: url('/img/menu-bar-white-40x40.png');"></div>

                <!-- (모바일 사용시) 2.카테고리 -->
                <div id="mobile-category">
                    <ul>
                        <li><a href="/reservation">예약하기</a></li>
                        <li><a href="/my-reservation">예약현황</a></li>
                    </ul>
                </div>

                <% if (isAuthenticated) { %>
                    <div id="welcome"><%= user.id %>님 환영합니다!</div>
                    <div id="logout"><a href="/logout">로그아웃</a></div>
                <% } else { %>
                    <div id="register"><a href="/register">회원가입</a></div>
                    <div id="login"><a href="/login">로그인</a></div>
                <% } %>

            </div>

        </div>

        <div id="hd2">

            <div id="container">

                <div id="logo">
                    <a href="/">
                        <img src="/img/logo.png" alt="로고">
                    </a>
                </div>

                <div id="category">
                    <ul>
                        <li><a href="/reservation">예약하기</a></li>
                        <li><a href="/my-reservation">예약현황</a></li>
                    </ul>
                </div>

            </div>

        </div>
        
    </header>

    <main class="hide-scrollbar">