<%- include("./includes/_header.ejs") %>

<!-- 슬라이더 -->
<div id="slider">

    <!-- 슬라이더 이미지 -->
    <div id="slider-image"></div>

    <!-- 슬라이더 버튼2 : dotted -->
    <div id="slider-buttons">
        <button id="dotted-btn1"><img src="/img/dotted-20-20.png" alt="1번으로"></button>
        <button id="dotted-btn2"><img src="/img/dotted-20-20.png" alt="2번으로"></button>
        <button id="dotted-btn3"><img src="/img/dotted-20-20.png" alt="3번으로"></button>
    </div>

</div>

<div id="reservation" class="content">
    <div id="container" style="flex-direction: column;">
        <h1><a href="/reservation">예약하러가기</a></h1>
        <div id="reservation-packages">
            <ul>
                <li id="standard-package">
                    <a href="/standard">
                        <img src="/img/item-standard-package.jpg" alt="스탠다드 패키지">
                        <h2>스탠다드 패키지</h2>
                    </a>
                    <p>1박 + 헬스장 이용</p>
                </li>
                <li id="breakfast-package">
                    <a href="/breakfast">
                        <img src="/img/item-breakfast-package.jpg" alt="조식 패키지">
                        <h2>조식 패키지</h2>
                    </a>
                    <p>1박 + 조식(2인) + 헬스장 이용</p>
                </li>
                <li id="dinner-package">
                    <a href="/dinner">
                        <img src="/img/item-dinner-package.jpg" alt="디너 패키지">
                        <h2>디너 패키지</h2>
                    </a>
                    <p>1박 + 석식(2인) + 헬스장 이용</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- 슬라이더 이미지 스크립트를 불러오기 -->
<script src="/js/slider.js"></script>

<%- include("./includes/_footer.ejs") %>