<%- include("./includes/_header.ejs") %>

<div id="slider">
    <div id="slider-image"></div>
</div>

<div id="content1" style="position:relative;">
    컨텐츠1
</div>

<!-- 슬라이더 이미지 스크립트를 불러오기 -->
<script src="/js/slider.js"></script>

<%- include("./includes/_footer.ejs") %>