<%- include("./includes/_header.ejs") %>

<div id="container">

    <form action="/login" method="POST" id="login-form">
        <h1>로그인</h1>
        
        <div id="id">
            <label for="id">사용자명(아이디)</label>
            <input type="text" name="id">
        </div>
    
        <div id="password">
            <label for="password">비밀번호</label>
            <input type="password" name="password">
        </div>
    
        <div id="submit" class="content-centered">
            <input type="submit" value="로그인">
        </div>
        
    </form>

</div>



<%- include("./includes/_footer.ejs") %>