<%- include("./includes/_header.ejs") %>

<div id="container">

    <form action="/register" method="POST" id="register-form">
        <h1>회원가입</h1>
    
        <div id="id">
            <label for="id">아이디디</label>
            <input type="text" name="id">
        </div>
    
        <div id="password1">
            <label for="password1">비밀번호</label>
            <input type="password" name="password1">
        </div>
        
    
        <div id="password2">
            <label for="password2">비밀번호 재확인</label>
            <input type="password" name="password2">
        </div>
    
        <div id="submit" class="content-centered">
            <input type="submit" value="가입">
        </div>
    
    </form>

</div>

<%- include("./includes/_footer.ejs") %>