<%- include("./includes/_header.ejs") %>

<div id="container">

    <form action="/reservation" method="POST" id="reservation-form">

        <h1>예약</h1>

        <ul>
            <li id="package">
                <label for="package">패키지명</label>
                <select name="package" id="package" required>
                    <option value="standard">스탠다드 패키지</option>
                    <option value="breakfast">조식 패키지</option>
                    <option value="dinner">디너 패키지</option>
                </select>
            </li>
            <li id="dayNumber">
                <label for="dayNumber">
                    <select name="dayNumber" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                    </select>
                     박
                </label>
            </li>
            <li id="submit" class="content-centered">
                <input class="button-yellow" type="submit" value="예약신청">
            </li>
        </ul>

        

    </form>
    
</div>

<%- include("./includes/_footer.ejs") %>