*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style:none;
}
body{
    font-size:0.8rem;
    line-height:1.5em;
}
a{
    text-decoration: none;
    color:#233;
    font-weight: bold;
}
a:hover{
    color:#455;
}
input{
    cursor:pointer;
}