*{
    box-sizing: border-box;
    margin: 0px auto;
    padding: 0px auto;
    list-style:none;
}
a{
    text-decoration: none;
    color:#233;
    font-weight: 600;
}
a:hover{
    color:#455;
}
input{
    cursor:pointer;
}

/* 컨테이너 */
#container{
    width:80%;
    margin: 0 auto;
}