/* 컨테이너 */
#container{
    width:90%;
    margin: 0 auto;
}

/* 컨텐츠 */
.content{
    padding-top:100px;
    padding-bottom:100px;
}
.content h1{
    margin-bottom:50px;
    text-align: center;
}

/* 버튼 - 노란색(#fd4) */
.button-yellow{
    background: #fd4;
    border:1px solid gray;
    font-weight: 600;
    font-size: 1em;
}





@media screen and (min-width: 800px){

}