/* 메인 페이지 스타일 */

/* 공통 */

/* 슬라이드 이미지 */
#slider{
    width: 100%;
    height: 60vh; /* 브라우저 높이의 50% */
    overflow: hidden;    
    position:relative;
}
#slider #slider-image{
    /* 크기 */
    width:100%;
    height:60vh;

    /* 이미지 소스 */
    background-image:url("/img/slider1.jpg");
    
    /* 위치 옵션 */
    background-size: cover;  /* 이미지가 요소를 가득 채우도록 설정 */
    background-position: center;
    background-repeat: no-repeat;
    
    /* 트랜지션 */
    transition: background-image 0.5s ease-in-out;
}
/* 슬라이더 : 슬라이더 버튼 */
#slider #slider-buttons{
    position:absolute;
    width:100%;
    height:20px;
    bottom:10%;
    text-align: center;
}
#slider #slider-buttons button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    padding: 0px 15px;
}
#slider #slider-buttons button:hover {
    opacity: 0.5;
}

/* 예약 컨텐츠 */
#reservation{
    width:100%; min-height:60vh;
}
#reservation #reservation-packages>ul{
    display: flex;
    flex-wrap: wrap;
    justify-content:center; 
}
#reservation #reservation-packages>ul> li{
    width:400px; height:300px;
    padding:10px; margin: 10px;
    border:1px solid #eee;
    background-color: white;
}
#reservation-packages>ul>li img{
    width: 380px;
    height:200px;
    margin-bottom:10px;
}
#reservation-packages h2{ /* 예약 컨텐츠에서서 패키지 상품 이미지 하단에 게시된 패키지명 */
    height:30px;
    font-size: 1rem;
}




/* 브라우저 크기가 태블릿 세로모드(768px) 이하 일때*/
@media screen and (max-width: 768px){
    #slider{
        display: none;
    }
    #reservation{
        padding-top:50px;
    }
}