/* 예약 페이지 */
#reservation-form{
    width:500px;
    min-height:45vh;
    padding: 100px 0px;
}
#reservation-form>h1{
    height:50px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 20px;
}
#reservation-form ul{
    padding: 0px;
}
#reservation-form ul li{
    display: inline-block;
}
#reservation-form label{
    display: inline-block;
}
#reservation-form #package select{
    width:140px;
    height:30px;
}
#reservation-form #dayNumber select{
    width:50px;
    height:30px;
    margin-left:10px;
    text-align: right;
}

/* 예약 현황 페이지 */
#my-reservation{
    min-height:45vh;
    margin-top:100px;
    margin-bottom:100px;
}
#my-reservation table{
    width:600px;
    border-collapse: collapse;
}
#my-reservation h1{
    height:50px;
    line-height: 50px;
    text-align: center;
    margin-bottom: 20px;
}
#my-reservation th{
    height:50px;
    padding: 0 10px;
    border: 1px solid #677;
    background-color: #233;
    color:white;
}

#my-reservation td{
    height:50px;
    padding: 0 10px;
    border: 1px solid #233;
    text-align: right;
}